app/log
app/result
app/cache

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore class file
*.class

.vscode

.settings

app/.classpath
app/.settings
app/.project
